/*@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";*/
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
body {
  background-color: #15202b;
  padding-top: 56px;
  color: #ffffff;
}

.text-fire-red {
  color: #fe1b00;
}

a {
  color: #a09e9e;
  &:hover {
    color: #ffffffbf;
    text-decoration: none;
  }
}

.img-none {
  color: #e5e6e8;
  font-size: 200px;
}

nav {
  background-color: #15202b;
  &.navbar-dark {
    .navbar-brand {
      color: #fe1b00;
      &:hover, &:focus {
        color: #fe1b00;
      }
    }
  }

  #searchName {
    background-color: transparent;
  }
}

.search-bar-container {
  height: calc(1.5em + 0.75rem + 12px);
  .input-group {
    width: 98%;
  }
}

.form-check {
  input[type="submit"] {
    background-color: #fe1b00;
  }
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.right-side {
  margin-top: 4.5rem!important;

  #filter, #order {
    background-color: #fe1b00;
    &:hover {
      background-color: #218838;
      border-color: #1e7e34;
    }
  }

  #searchYear {
    background-color: transparent;
  }

  #order {
    width: 100%;
    &:disabled {
      &:hover {
        background-color: #fe1b00;
        color: #ffffff;
      }
    }
  }

  #filter {
    width: 100%;
  }

  .btn {
    border: none;
  }

  .filter-clicked, .order-clicked {
    background-color: #28a745;
  }

  .form-check {
    padding: 0;
  }
}

#left-side {
  .card {
    background-color: #15202b;
  }
  .card-img-top {
    height: 25rem;
  }
  .img-none {
    color: #e5e6e8;
    font-size: 200px;
  }
}

.favorite-container {
  .card {
    background-color: #15202b;
  }
  .card-img-top {
    height: 25rem;
  }
  .img-none {
    color: #e5e6e8;
    font-size: 200px;
  }
}
